<script>
function lw()
 {
    var num= document.getElementById("in1").value;
    var ans;

    if (num == "") {
      ans = "Details not found : Please Enter the Number";
    }
    else if (num == "DL7CN5617" || num == "12345678910") {
      ans = "<br><b>number Plate: " + num + " detected</b></br><br>"+"<center><table bgcolor="+"white"+"><tr><td>Registration Name</td><td>SHASHI KUMAR</td></tr> <tr><td>License No</td><td>12345678910</td></tr><tr><td>Make / Model </td><td>Skoda / OCtavia</td></tr><tr><td>Registration Date</td><td>1/1/2017</td></tr><tr><td>Registering Authority</td><td>TAMILNADU , INDIA</td></tr><tr><td>Vehicle Class</td><td>MCWG</td></tr><tr><td>Fuel Type</td><td>CNG</td><tr><td>Engine No</td><td>IVK3N1734538</td></tr><tr><td>Chassis No</td><td>HMSURVWVQSVWE</td></tr><tr><td>Insurance Upto</td><td>5/13/2022</td></tr><tr><td>Fitness Upto</td><td>4/8/2030</td></tr></table></center>";
    }
    else if(num =="TS 20 EJ 0364"  || num == "10987654321")
	  {
	   ans = "<br><b>number Plate: " + num + " detected</b></br><br>"+"<center><table bgcolor="+"white"+"><tr><td>Registration Name</td><td>RAM KUMAR</td></tr> <tr><td>License No</td><td>12345678910</td></tr><tr><td>Make / Model </td><td>Skoda / OCtavia</td></tr><tr><td>Registration Date</td><td>1/1/2017</td></tr><tr><td>Registering Authority</td><td>TAMILNADU , INDIA</td></tr><tr><td>Vehicle Class</td><td>MCWG</td></tr><tr><td>Fuel Type</td><td>CNG</td><tr><td>Engine No</td><td>IVK3N1734538</td></tr><tr><td>Chassis No</td><td>HMSURVWVQSVWE</td></tr><tr><td>Insurance Upto</td><td>5/13/2022</td></tr><tr><td>Fitness Upto</td><td>4/8/2030</td></tr></table></center>";
	  }
	  else if(num =="TN07BU5427"  || num == "1098765431")
	  {
	   ans = "<br><b>number Plate: " + num + " detected</b></br><br>"+"<center><table bgcolor="+"white"+"><tr><td>Registration Name</td><td>DUVVA NAVEEN</td></tr> <tr><td>License No</td><td>12345678910</td></tr><tr><td>Make / Model </td><td>Skoda / OCtavia</td></tr><tr><td>Registration Date</td><td>1/1/2017</td></tr><tr><td>Registering Authority</td><td>TAMILNADU , INDIA</td></tr><tr><td>Vehicle Class</td><td>MCWG</td></tr><tr><td>Fuel Type</td><td>CNG</td><tr><td>Engine No</td><td>IVK3N1734538</td></tr><tr><td>Chassis No</td><td>HMSURVWVQSVWE</td></tr><tr><td>Insurance Upto</td><td>5/13/2022</td></tr><tr><td>Fitness Upto</td><td>4/8/2030</td></tr></table></center>";
	  }
	  else if(num =="HR696969"  || num == "1098765432")
	  {
	   ans = "<br><b>number Plate: " + num + " detected</b></br><br>"+"<center><table bgcolor="+"white"+"><tr><td>Registration Name</td><td>RAGHU LAXMAN</td></tr> <tr><td>License No</td><td>12345678910</td></tr><tr><td>Make / Model </td><td>Skoda / OCtavia</td></tr><tr><td>Registration Date</td><td>1/1/2017</td></tr><tr><td>Registering Authority</td><td>TAMILNADU , INDIA</td></tr><tr><td>Vehicle Class</td><td>MCWG</td></tr><tr><td>Fuel Type</td><td>CNG</td><tr><td>Engine No</td><td>IVK3N1734538</td></tr><tr><td>Chassis No</td><td>HMSURVWVQSVWE</td></tr><tr><td>Insurance Upto</td><td>5/13/2022</td></tr><tr><td>Fitness Upto</td><td>4/8/2030</td></tr></table></center>";
	  }
	  else if(num =="KA51MJ8156"  || num == "10965432")
	  {
	   ans = "<br><b>number Plate: " + num + " detected</b></br><br>"+"<center><table bgcolor="+"white"+"><tr><td>Registration Name</td><td>CH THARUN KUMAR</td></tr> <tr><td>License No</td><td>12345678910</td></tr><tr><td>Make / Model </td><td>Skoda / OCtavia</td></tr><tr><td>Registration Date</td><td>1/1/2017</td></tr><tr><td>Registering Authority</td><td>TAMILNADU , INDIA</td></tr><tr><td>Vehicle Class</td><td>MCWG</td></tr><tr><td>Fuel Type</td><td>CNG</td><tr><td>Engine No</td><td>IVK3N1734538</td></tr><tr><td>Chassis No</td><td>HMSURVWVQSVWE</td></tr><tr><td>Insurance Upto</td><td>5/13/2022</td></tr><tr><td>Fitness Upto</td><td>4/8/2030</td></tr></table></center>";
	  }
	  else if(num =="MH20CS1941"  || num == "109655432")
	  {
	   ans = "<br><b>number Plate: " + num + " detected</b></br><br>"+"<center><table bgcolor="+"white"+"><tr><td>Registration Name</td><td>T SUCHARAN</td></tr> <tr><td>License No</td><td>12345678910</td></tr><tr><td>Make / Model </td><td>Skoda / OCtavia</td></tr><tr><td>Registration Date</td><td>1/1/2017</td></tr><tr><td>Registering Authority</td><td>TAMILNADU , INDIA</td></tr><tr><td>Vehicle Class</td><td>MCWG</td></tr><tr><td>Fuel Type</td><td>CNG</td><tr><td>Engine No</td><td>IVK3N1734538</td></tr><tr><td>Chassis No</td><td>HMSURVWVQSVWE</td></tr><tr><td>Insurance Upto</td><td>5/13/2022</td></tr><tr><td>Fitness Upto</td><td>4/8/2030</td></tr></table></center>";
	  }
    else if(num =="DL3CAY9324"  || num == "1096551432")
	  {
	   ans = "<br><b>number Plate: " + num + " detected</b></br><br>"+"<center><table bgcolor="+"white"+"><tr><td>Registration Name</td><td>M SAI KUMAR</td></tr> <tr><td>License No</td><td>12345678910</td></tr><tr><td>Make / Model </td><td>Skoda / OCtavia</td></tr><tr><td>Registration Date</td><td>1/1/2017</td></tr><tr><td>Registering Authority</td><td>TAMILNADU , INDIA</td></tr><tr><td>Vehicle Class</td><td>MCWG</td></tr><tr><td>Fuel Type</td><td>CNG</td><tr><td>Engine No</td><td>IVK3N1734538</td></tr><tr><td>Chassis No</td><td>HMSURVWVQSVWE</td></tr><tr><td>Insurance Upto</td><td>5/13/2022</td></tr><tr><td>Fitness Upto</td><td>4/8/2030</td></tr></table></center>";
	  }
	  else if(num =="ASMM1084"  || num == "10965514321")
	  {
	   ans = "<br><b>number Plate: " + num + " detected</b></br><br>"+"<center><table bgcolor="+"white"+"><tr><td>Registration Name</td><td>P MAHESH BABU</td></tr> <tr><td>License No</td><td>12345678910</td></tr><tr><td>Make / Model </td><td>Skoda / OCtavia</td></tr><tr><td>Registration Date</td><td>1/1/2017</td></tr><tr><td>Registering Authority</td><td>TAMILNADU , INDIA</td></tr><tr><td>Vehicle Class</td><td>MCWG</td></tr><tr><td>Fuel Type</td><td>CNG</td><tr><td>Engine No</td><td>IVK3N1734538</td></tr><tr><td>Chassis No</td><td>HMSURVWVQSVWE</td></tr><tr><td>Insurance Upto</td><td>5/13/2022</td></tr><tr><td>Fitness Upto</td><td>4/8/2030</td></tr></table></center>";
	  }
		else if(num =="ASMM1084"  || num == "10965514321")
	  {
	   ans = "<br><b>number Plate: " + num + " detected</b></br><br>"+"<center><table bgcolor="+"white"+"><tr><td>Registration Name</td><td>D MAHENDRA</td></tr> <tr><td>License No</td><td>12345678910</td></tr><tr><td>Make / Model </td><td>Skoda / OCtavia</td></tr><tr><td>Registration Date</td><td>1/1/2017</td></tr><tr><td>Registering Authority</td><td>TAMILNADU , INDIA</td></tr><tr><td>Vehicle Class</td><td>MCWG</td></tr><tr><td>Fuel Type</td><td>CNG</td><tr><td>Engine No</td><td>IVK3N1734538</td></tr><tr><td>Chassis No</td><td>HMSURVWVQSVWE</td></tr><tr><td>Insurance Upto</td><td>5/13/2022</td></tr><tr><td>Fitness Upto</td><td>4/8/2030</td></tr></table></center>";
	  }
	  else if(num =="KA19TR0220102011"  || num == "123456")
	  {
      ans = "<br><b>number Plate: " + num + " detected</b></br><br>"+"<center><table bgcolor="+"white"+"><tr><td>Registration Name</td><td>N RAJESH KUMAR</td></tr> <tr><td>License No</td><td>12345678910</td></tr><tr><td>Make / Model </td><td>Skoda / OCtavia</td></tr><tr><td>Registration Date</td><td>1/1/2017</td></tr><tr><td>Registering Authority</td><td>TAMILNADU , INDIA</td></tr><tr><td>Vehicle Class</td><td>MCWG</td></tr><tr><td>Fuel Type</td><td>CNG</td><tr><td>Engine No</td><td>IVK3N1734538</td></tr><tr><td>Chassis No</td><td>HMSURVWVQSVWE</td></tr><tr><td>Insurance Upto</td><td>5/13/2022</td></tr><tr><td>Fitness Upto</td><td>4/8/2030</td></tr></table></center>";
	  }
	  else if(num =="ET856VDE"  || num == "FT856VD")
	  {
      ans = "<br><b>number Plate: " + num + " detected</b></br><br>"+"<center><table bgcolor="+"white"+"><tr><td>Registration Name</td><td>M LIKITH KUMAR</td></tr> <tr><td>License No</td><td>12345678910</td></tr><tr><td>Make / Model </td><td>Skoda / OCtavia</td></tr><tr><td>Registration Date</td><td>1/1/2017</td></tr><tr><td>Registering Authority</td><td>TAMILNADU , INDIA</td></tr><tr><td>Vehicle Class</td><td>MCWG</td></tr><tr><td>Fuel Type</td><td>CNG</td><tr><td>Engine No</td><td>IVK3N1734538</td></tr><tr><td>Chassis No</td><td>HMSURVWVQSVWE</td></tr><tr><td>Insurance Upto</td><td>5/13/2022</td></tr><tr><td>Fitness Upto</td><td>4/8/2030</td></tr></table></center>";
	  }
	  else if(num =="MH20EE7602"  || num == "12345126")
	  {
      ans = "<br><b>number Plate: " + num + " detected</b></br><br>"+"<center><table bgcolor="+"white"+"><tr><td>Registration Name</td><td>M RAGHUNADH</td></tr> <tr><td>License No</td><td>12345678910</td></tr><tr><td>Make / Model </td><td>Skoda / OCtavia</td></tr><tr><td>Registration Date</td><td>1/1/2017</td></tr><tr><td>Registering Authority</td><td>TAMILNADU , INDIA</td></tr><tr><td>Vehicle Class</td><td>MCWG</td></tr><tr><td>Fuel Type</td><td>CNG</td><tr><td>Engine No</td><td>IVK3N1734538</td></tr><tr><td>Chassis No</td><td>HMSURVWVQSVWE</td></tr><tr><td>Insurance Upto</td><td>5/13/2022</td></tr><tr><td>Fitness Upto</td><td>4/8/2030</td></tr></table></center>";
	  }
	  else if(num =="KA29Z999"  || num == "123145126")
	  {
      ans = "<br><b>number Plate: " + num + " detected</b></br><br>"+"<center><table bgcolor="+"white"+"><tr><td>Registration Name</td><td>MAHANTH</td></tr> <tr><td>License No</td><td>12345678910</td></tr><tr><td>Make / Model </td><td>Skoda / OCtavia</td></tr><tr><td>Registration Date</td><td>1/1/2017</td></tr><tr><td>Registering Authority</td><td>TAMILNADU , INDIA</td></tr><tr><td>Vehicle Class</td><td>MCWG</td></tr><tr><td>Fuel Type</td><td>CNG</td><tr><td>Engine No</td><td>IVK3N1734538</td></tr><tr><td>Chassis No</td><td>HMSURVWVQSVWE</td></tr><tr><td>Insurance Upto</td><td>5/13/2022</td></tr><tr><td>Fitness Upto</td><td>4/8/2030</td></tr></table></center>";
	  }
	  else if(num =="TN38BW1139"  || num == "123145126")
	  {
      ans = "<br><b>number Plate: " + num + " detected</b></br><br>"+"<center><table bgcolor="+"white"+"><tr><td>Registration Name</td><td>BIKSHAPATHI</td></tr> <tr><td>License No</td><td>12345678910</td></tr><tr><td>Make / Model </td><td>Skoda / OCtavia</td></tr><tr><td>Registration Date</td><td>1/1/2017</td></tr><tr><td>Registering Authority</td><td>TAMILNADU , INDIA</td></tr><tr><td>Vehicle Class</td><td>MCWG</td></tr><tr><td>Fuel Type</td><td>CNG</td><tr><td>Engine No</td><td>IVK3N1734538</td></tr><tr><td>Chassis No</td><td>HMSURVWVQSVWE</td></tr><tr><td>Insurance Upto</td><td>5/13/2022</td></tr><tr><td>Fitness Upto</td><td>4/8/2030</td></tr></table></center>";
	  }
	  else if(num =="TN38BW1139"  || num == "123145126")
	  {
      ans = "<br><b>number Plate: " + num + " detected</b></br><br>"+"<center><table bgcolor="+"white"+"><tr><td>Registration Name</td><td>RANJITH</td></tr> <tr><td>License No</td><td>12345678910</td></tr><tr><td>Make / Model </td><td>Skoda / OCtavia</td></tr><tr><td>Registration Date</td><td>1/1/2017</td></tr><tr><td>Registering Authority</td><td>TAMILNADU , INDIA</td></tr><tr><td>Vehicle Class</td><td>MCWG</td></tr><tr><td>Fuel Type</td><td>CNG</td><tr><td>Engine No</td><td>IVK3N1734538</td></tr><tr><td>Chassis No</td><td>HMSURVWVQSVWE</td></tr><tr><td>Insurance Upto</td><td>5/13/2022</td></tr><tr><td>Fitness Upto</td><td>4/8/2030</td></tr></table></center>";
	  }

    else {
      ans = "Details not found for number Plate\ License No : " + num ;
    }
    document.getElementById("d2").innerHTML = ans;
    var i = document.getElementById("in1").value
    var xhr = new XMLHttpRequest();

    xhr.open("GET", "http://192.168.56.101/cgi-bin/task8.py?x=" + i, true);
    xhr.send();
    xhr.onload= function() {
    var i = document.getElementById("in1").value
    var output = xhr.responseText;
    document.getElementById("d1").innerHTML = output;
    }
  }
</script>

<!DOCTYPE html>
<html lang="en">
<style>
table, th, td {
  border:0px solid black;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>License Plate-QUERY</title>
	 <script>
      window.onload = function() {
        // Get the value from localStorage
        var value = localStorage.getItem('myValue');

        // Display the value on the page
        document.getElementById('in1') = value ;
      };
</script>
</head>
<style>
    body {

        background-image:url(bg1.jpg) ;
        background-size:cover;
        background-repeat:no;
        /* !--background-color: #6699CC;
        !--background-image: linear-gradient(gray); */
      	opacity: 150%;
	      text-align: center;
        }
d7 {
        background-color: #FFA325;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: black;
        display: inline-block;
        font-size: 26px;
        margin: 2px 2px;
        cursor: pointer;
        position: absolute;
        top: 245px;
        border-radius: 15px;
        box-shadow: 0 9px #999;

    }

    .d7:hover {
        background-color: #3e8e41
    }

    .d7:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    table {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ddd;
  }

  th, td {
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #f2f2f2;
  }

  th {
      background-color: #4CAF50;
      color: white;
  }
</style>


<body>



  {% if post %}
  <h1>Details of Number Plate:</h1>
    <table>
      {% for record in post %}
        <tr>
          <td>Number Plate</td><td>{{ record.number_plate }}</td>
        </tr>
        <tr>
          <td>Registration Name</td><td>{{ record.reg_name }}</td>
        </tr>
        <tr>
          <td>License Number</td><td>{{ record.license_no }}</td>
        </tr>
        <tr>
          <td>Model</td><td>{{ record.model }}</td>
        </tr>
        <tr>
          <td>Registration Date</td><td>{{ record.reg_date }}</td>
        </tr>
        <tr>
          <td>Registration Authority</td><td>{{ record.reg_authority }}</td>
        </tr>
        <tr>
          <td>Vehicle Class</td><td>{{ record.vehicle_class }}</td>
        </tr>
        <tr>
          <td>Fuel</td><td>{{ record.fuel }}</td>
        </tr>
        <tr>
          <td>Engine Number</td><td>{{ record.engine_no }}</td>
        </tr>
        <tr>
          <td>Chassis Number</td><td>{{ record.chassis_no }}</td>
        </tr>
        <tr>
          <td>Insurance Expiry</td><td>{{ record.insurance_upto }}</td>
        </tr>
        <tr>
          <td>Fitness Expiry</td><td>{{ record.fitness_upto }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <h1>Details not found.</h1>
  {% endif %}

</body>
